<%-include('../includes/header.ejs', {titulo:'lista professores'})%>

<main class="main-styled">




      <!-- cards principais com valores -->
      <section class="row mb-4 text-center" >
        <!-- card total de alunos -->
        <div class="col-md-3">
          <div class="card shadow-sm card-dec">
            <h5 class="card-body">Total de Produtos</h5>
            <p class="card-text display-4"><%= totalProdutos %></p>
          </div>
        </div>
    
        <!-- card total de alunos -->
        <div class="col-md-3"  >
          <div class="card shadow-sm card-dec">
            <h5 class="card-body">Total de Categorias</h5>
            <p class="card-text display-4"><%= totalCategorias %></p>
          </div>
        </div>
    
        <!-- card total de alunos -->
        <div class="col-md-3">
          <div class="card shadow-sm card-dec">
            <h5 class="card-body">Total de Usuarios</h5>
            <p class="card-text display-4"><%= totalUsuarios %></p>
          </div>
        </div>
    
        <!-- card total de alunos -->
        <div class="col-md-3">
          <div class="card shadow-sm card-dec">
            <h5 class="card-body">Total de produtos em Estoque</h5>
            <p class="card-text display-4"><%=totalEstoque %></p>
          </div>
        </div>

        
          <div class="centralizar"> 
            <div class="col-md-3 mt-3 text-center">
              <div class="card shadow-sm card-dec" style="align-items: center;">
                <h5 class="card-body" style="text-align: center;">Produtos abaixo do Estoque </h5>
                <p class="card-text text-center display-4"><%= abaixo %></p>
              </div>
            
            </div>
            </div>
        

      </section>


      <section class="row">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header  text-white" style="background-color: #10b12b;";>
              Valor de cada Categoria
            </div>
            <div class="card-body">
              <canvas id="barrasMediaDisciplina"></canvas>
            </div>
          </div>
        </div>
                                                      
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header  text-white " style="background-color: #10b12b;" ;>
              Quantidade de Produtos em cada Categoria
            </div>
            <div class="card-body grafico">
              <canvas id="pizzaAprovacaoAlunos"></canvas>
            </div>
          </div>
        </div>
</section>

<script>

const dadosmediadisciplinas = <%- JSON.stringify(valor) %>;
console.log( 'dados',dadosmediadisciplinas);

const nomesdisciplinas = dadosmediadisciplinas.map(x => x.nome_categoria)
const mediadisciplinas = dadosmediadisciplinas.map(y=> y.valor_total)
        // Bar Chart - Média de Notas por Disciplina
        const barCtx = document.getElementById('barrasMediaDisciplina').getContext('2d');
                new Chart(barCtx, {
                    type: 'bar',
                    data: {
                        labels: nomesdisciplinas,
                        datasets: [{
                            label: 'valor de cada categoria',
                            data: mediadisciplinas,
                            backgroundColor: ['#007bff', '#28a745', '#ffc107', '#dc3545', '#6f42c1','#600']
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: { display: true },
                            tooltip: { enabled: true }
                        }
                    }
                });










    const dadosaprovacaoalunos = <%- JSON.stringify(produtos) %>;

const status = dadosaprovacaoalunos.map(x=> x.nome_categoria)

const total = dadosaprovacaoalunos.map(x=> x.valor_produtos)


            const pieCtx = document.getElementById('pizzaAprovacaoAlunos').getContext('2d');
            new Chart(pieCtx, {
                type: 'pie',
                data: {
                    labels: status,
                    datasets: [{
                        data: total,
                        backgroundColor: ['#28a745', '#dc3545', '#ffc107','##00b000','#4c5e91']
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: true },
                        tooltip: { enabled: true }
                    }
                }
            });
</script>
<h3><div class="card-header text-white mt-4" style="text-align: center; background-color:rgb(189, 189, 189);"></div>
</h3>

      <table class="dados-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Estoque</th>
            <th>Estoque minímo</th>
            <th>Valor</th>
            <th>Imagem</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <% for (let produto of tabela) { %>
            <tr>
                <td><%= produto.nome_produto %></td>
                                  <td><%= produto.estoque %></td>
                                  <td><%= produto.estoque_minimo %></td>
                                  <td><%= produto.valor %></td>
                                  <td><img src="<%= produto.imagem %>" alt="Imagem do produto" class="img-fluid" style="max-width: 100px; height: auto;"></td>
                                  <td><%= produto.nome %></td>
            </tr>
          <%}%>
        </tbody>
      </table>   
</main>

<%- include('../includes/footer.ejs')%>